// Navbar
.navbar {
  background: $dark;
  color: $lightest;
  height: $navbar-height;
  padding: 0 $app-padding;
}

// Brand
.brand {
  color: $lightest;
  line-height: $navbar-height;
  margin: 0;
  text-align: center;
}
