// Spin buttons
.spin-btn {
  display: block;
  font-size: 80px;
  height: 140px;
  margin-bottom: 15px;
  width: 100%;

  // Spin that taco
  &.spin {
    .spinner {
      animation: spin .1s linear infinite;
      display: inline-block;
    }
  }

  // Jiggle that burrito
  &.jiggle {
    .spinner {
      animation: jiggle .1s linear infinite;
      display: block;
    }
  }
}

// Spin
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Jiggle
@keyframes jiggle {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }
}
